:root{
	--resume-box-shadow: rgb(0 0 0 / 20%);;
	--text-shadow: black;
	--solid-white-bg: white;
	--border-gray: gray;
	--border-lightgray: lightgray;
}

.ruProfile__skills {
	// padding: 20px;
	padding: 0;
	margin: 15px 10px;
	margin-right: 0;

	height: auto;
	width: calc(50% - 10px);
	max-width: 520px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;


	&__title {
		padding: 15px;
		margin: 0 0 20px;
		
		width: 100%;

		font-size: 25px;
		font-size: 2.5rem;

		font-weight: 600;
		text-align: center;
		// text-shadow: 1px 1px var(--text-shadow);
		line-height: 1;

		background-color: var(--solid-white-bg);
    box-shadow: 1px 1px 5px var(--resume-box-shadow);
	}

	&__item {
		margin: 0 0 20px;
		padding: 10px 20px;

		width: 25%;
		max-width: 130px;
		height: 100px;
		// min-height: 100px;

		display: flex;
		// align-items: center;
		justify-content: center;
		flex-direction: column;

		border: 1px solid var(--border-lightgray);
		border-top: 0px;
		border-bottom: 2px solid var(--border-gray);

		// filter: grayscale(100%);
		// transition: 0.5s;
    transition-timing-function: ease;

		background-color: white;
    // box-shadow: 1px 1px 5px var(--resume-box-shadow);

    & img, & h4 {
			filter: grayscale(100%);

			background-color: transparent;

			transition: 0.5s;
			transition-timing-function: ease;
    }

		&:hover {
			// filter: grayscale(0%);

			& img, & h4 {
				filter: grayscale(0%);
			}
		}

		&:nth-child(4n+2) {
			border-left: 0px;
		}

		&:nth-child(4n+5) {
			border-right: 0px;
		}

		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		&__figure {
			height: 70%;

			display: flex;
			align-items: center;
			justify-content: center;

			&__image {
				height: 100%;
				max-height: 50px;
				width: auto;
				max-width: 100%;
			}
		}

		&__description {
			height: 30%;

			display: flex;
			align-items: center;
			justify-content: center;

			& h4 {
				margin: 0;

				font-size: 13px;
				font-weight: 700;
				text-align: center;
				line-height: 1;
			}
		}
	}

	@media (max-width: 991px) {
		margin-left: 0;
		width: 100%;
	}

	@media (max-width: 500px) {

		& .ruProfile__skills {

			&__item {
				width: 33.33%;
				border: 1px solid var(--border-lightgray)!important;
				border-top: 0px!important;
				border-bottom: 2px solid var(--border-gray)!important;
			}
		}
	}

	@media (max-width: 400px) {

		& .ruProfile__skills {

			&__item {
				width: 50%;
			}
		}
	}
}